/* ComboBox Styles */
.combo-box {
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-background-color: white;
    -fx-border-color: #87cefa;
    -fx-background-radius: 10;
    -fx-border-color: #4682b4;
    -fx-border-radius: 10;
}

.combo-box:focused {
    -fx-background-color: #f0f8ff; /* Светло-голубой фон при фокусе */
}

.combo-box .list-cell {
    -fx-background-color: transparent;
     -fx-background-radius: 8;
     -fx-border-radius: 8;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.combo-box .list-cell:hover {
    -fx-background-color: #005f7f;
     -fx-border-radius: 8
    -fx-text-fill: white;
}

.combo-box .arrow {
    -fx-background-color: #005f7f;
    -fx-background-radius: 10;
}

.combo-box .arrow:hover {
    -fx-background-color: #004f6f;
}

.combo-box-popup {

}
